/* index.css */

body {
  background-color: #faf9bc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: #333;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.card {
  max-width: 600px;
  margin: 40px auto;
  /* background-color: #fff; */
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.card-header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
}

.card-body {
  padding: 50px;
  /* background-color: rgb(21, 126, 91); */
}

.result1 {
  background-color: #377a07;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 50px;
  box-shadow: 0 30px 4px rgba(0, 0, 0, 0.1);
}

.result2 {
  background-color: #9acd32;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 50px;
  box-shadow: 0 30px 4px rgba(0, 0, 0, 0.1);
}

.result3 {
  background-color: #f4f805;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 50px;
  box-shadow: 0 30px 4px rgba(0, 0, 0, 0.1);
}

.result4 {
  background-color: #f58f09;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 50px;
  box-shadow: 0 30px 4px rgba(0, 0, 0, 0.1);
}

.result5 {
  background-color: #c41206;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 50px;
  box-shadow: 0 30px 4px rgba(0, 0, 0, 0.1);
}

.result6 {
  background-color: #377a07;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 50px;
  box-shadow: 0 30px 4px rgba(0, 0, 0, 0.1);
}

.aqi {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
